# Data Science Tools and Ecosystem

<a name='5'></a>
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages 
- Some of the commonly used libraries
- Some Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas

|Data Science Tools|
|:----------------:|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#In this code cell write an expression that converts `200 minutes` into `hours`.
minutes=200
hours=minutes//60
print(hours)

3

## Author
NGUYEN SI HIEU